// Import
@import "_reset";
@import "_variables";
@import "_fonts";
@import "_hamburger";










// --------------------------------------------------------------------------------------------------------------
// -Header-
// --------------------------------------------------------------------------------------------------------------










.header {
    min-height: 1024px;
    background-color: black;
    


    &__nav {
        z-index: 2;


        &_logo-icon {
            margin-top: 40px;
        }
        &_logo-name {
            font-family: Raleway;
            font-size: 34px;
            color: $title-light;
            margin-top: 51px;
        }
        &_menu {
            margin-top: 60px;

            &_item {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                color: $title-light;
                height: 10px;
                white-space: nowrap;
                margin-right: 4%;

                &:hover {
                    color: $title-lighthover;
                    transition: 0.2s;
                }
            }
            .active-page {
                color: $title-lighthover;
            }
        }
        &_cart {
            margin-top: 55px;
            margin-left: 20%;
            height: 24px;
            cursor: pointer;
        }

        &_search {
            margin-top: 56px;
            margin-left: 25%;
            transition: 0.5s;

            input {
                display: none;
                transition: 0.5s;
            }
            &-btn {
                cursor: pointer;
                transition: 0.5s;
            }
        }
        &_search-active {
            width: 300px;
            height: 30px;
            margin-top: 51px;
            margin-left: 25%;
            transition: 0.5s;

            input {
                font-family: Montserrat;
                display: block;
                font-weight: 300;
                font-style: italic;
                padding: 5px;
                color: white;
                background-color: rgb(82, 82, 82);
                transition: 0.5s;
            }
            &-btn {
                height: 30px;
                background-color: rgb(82, 82, 82);
                cursor: pointer;
                padding-top: 3px;
                transition: 0.5s;
            }
        }
    }


    &__slider {
        width: 100%;
        min-height: 1024px;
        margin-top: -642px;
        z-index: 1;

        &_pagination {
            height: 11px;

            &_bullet {
                width: 11px;
                height: 11px;
                background-color: white;
            }
        }
        &_wrapper {
            width: 100%;
            min-height: inherit;

            &_slide {
                width: 100%;
                min-height: inherit;

                &-1 {
                    background-image: url(../img/mountain1.jpg);
                    filter: brightness(40%);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    min-height: inherit;
                }
                &-2 {
                    background-image: url(../img/home1.jpeg);
                    filter: brightness(40%);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    min-height: inherit;
                }
                &-3 {
                    background-image: url(../img/home2.jpeg);
                    filter: brightness(40%);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    min-height: inherit;
                }
                &-4 {
                    background-image: url(../img/mountain1.jpg);
                    filter: brightness(40%);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    min-height: inherit;
                }
                &-5 {
                    background-image: url(../img/home1.jpeg);
                    filter: brightness(40%);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    min-height: inherit;
                }
            }
        }
        &_button-next {
            width: 40px;
            height: 73px;
            cursor: pointer;
            margin-top: -550px;
            margin-right: auto;
            margin-left: 90%;
            position: relative;
            z-index: 2;
            transform: rotate(180deg);
        }
        &_button-prev {
            width: 40px;
            height: 73px;
            cursor: pointer;
            margin-top: -73px;
            margin-right: 90%;
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
    }


    &__text-block {
        z-index: 2;
    }
    &__description {
        font-family: Raleway;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        color: $title-light;
        margin-top: 281px;
    }
    &__title {
        font-family: Raleway;
        font-size: 52px;
        font-weight: 800;
        text-align: center;
        color: $title-light;
        margin-top: 11px;
    }
    &__text {
        max-width: 562px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        color: $title-light;
        margin-top: 17px;
    }
    &__button {
        width: 170px;
        height: 53px;
        border-radius: 3px;
        box-shadow: inset 0px -3px 0 0 #736357;
        background-color: $btn-color;
        transition-duration: 0.4s;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 600;
        color: $title-light;
        text-transform: uppercase;
        margin-top: 48px;

        &:hover {
            background-color: $btn-colorhover;
            box-shadow: inset 0px -3px 0 0 #313131;
        }
    }
}

.swiper-pagination {
    margin-bottom: 31px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &-bullet {
        background: #fff;
        opacity: 0.6;

        &-active {
            border: solid 2px #fff;
            background-color: rgb(53, 53, 53);
            box-sizing: content-box;
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Portfolio-
// --------------------------------------------------------------------------------------------------------------










.portfolio {
    min-height: 1073px;
    
    &__tabs {
        min-height: 373px;
        background-color: $bg-main;

        &_item {
            cursor: pointer;

            &:hover &_img-web {
                background: url(../img/web&app-hover.png);
                transition: 0.2s;
            }
            &:hover &_img-dev {
                background: url(../img/dev-hover.png);
                transition: 0.2s;
            }
            &:hover &_img-custom {
                background: url(../img/custom-hover.png);
                transition: 0.2s;
            }
            &:hover &_img-market {
                background: url(../img/market.png);
                transition: 0.2s;
            }
            &:hover &_title {
                color: $title-hover;
            }
            &:hover &_line {
                background-color: $title-hover;
            }


            &_img-web {
                width: 49px;
                height: 49px;
                background: url(../img/web&app.png);
                transition: 0.2s;
                margin: auto;
                margin-top: 80px;
            }
            &_img-dev {
                width: 44px;
                height: 40px;
                background: url(../img/dev.png);
                transition: 0.2s;
                margin: auto;
                margin-top: 89px;
            }
            &_img-custom {
                width: 44px;
                height: 44px;
                background: url(../img/custom.png);
                transition: 0.2s;
                margin: auto;
                margin-top: 84px;
            }
            &_img-market {
                width: 52px;
                height: 36px;
                background: url(../img/marketing.png);
                transition: 0.2s;
                margin: auto;
                margin-top: 92px;
            }

            &_title {
                font-family: Raleway;
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                color: $title;
                margin-top: 27px;
            }
            &_description {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                text-align: center;
                color: $description;
                margin-top: 16px;
            }
            &_line {
                width: 70px;
                height: 3px;
                background-color: #f1eee9;
                margin: auto;
                margin-top: 27px;
            }

            &-active {
                .portfolio__tabs_item_title {
                    color: $title-hover;
                }
                .portfolio__tabs_item_line {
                    background-color: $title-hover;
                }
                .portfolio__tabs_item_img-web {
                    background: url(../img/web&app-hover.png);
                    transition: 0.2s;
                }
                .portfolio__tabs_item_img-dev {
                    background: url(../img/dev-hover.png);
                    transition: 0.2s;
                }
                .portfolio__tabs_item_img-custom {
                    background: url(../img/custom-hover.png);
                    transition: 0.2s;
                }
                .portfolio__tabs_item_img-market {
                    background: url(../img/market.png);
                    transition: 0.2s;
                }
            }
        }
    }



    &__tab-content {
        min-height: 700px;
        background-color: #fbfaf8;
        overflow: hidden;
        position: relative;

        &_item {
            position: absolute;
            left: 0px;
            top: 0px;
            transform: translateY(-100%);
            transition: opacity 0.9s;
            opacity: 0;


            &-active {
                transition: opacity 0.9s;
                position: relative;	
                display: block;
                transform: translateY(0%);
                opacity: 1;
            }


            &_title {
                font-family: Raleway;
                font-size: 30px;
                font-weight: 600;
                text-align: center;
                color: $title;
                margin-top: 80px;
            }
            &_description {
                max-width: 757px;
                margin: auto;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.75;
                text-align: center;
                color: $description;
                margin-top: 18px;
            }
            &_image {
                position: relative;

                &-left {
                    max-width: 770px;
                    margin: auto;
                    margin-top: 116px;
                    margin-bottom: -400px;
                    margin-left: -25px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &-right {
                    max-width: 770px;
                    margin: auto;
                    margin-bottom: -482px;
                    margin-right: -25px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &-center {
                    max-width: 770px;
                    margin: auto;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Projects-
// --------------------------------------------------------------------------------------------------------------










.projects {
    min-height: 700px;
    background-color: $bg-main;


    &__title {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: $title;
        margin-top: 78px;
    }
    &__description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
        text-align: center;
        color: $description;
        margin-top: 18px;
    }



    &__tabs {
        display: flex;
        justify-content: space-between;
        width: 605px;
        margin: auto;
        margin-top: 34px;

        &_item {
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-main;
            border: solid 1px #ebebeb;
            border-radius: 3px;
            margin-left: 10px;
            transition: 0.4s;
            cursor: pointer;

            p {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                color: $description;
                transition: 0.4s;
            }

            &:hover {
                background-color: #998675;

                p {
                    color: $title-light;
                }
            }
        }
        &_item-active {
            background-color: #998675;

            p {
                color: $title-light;
            }
        }
    }



    &__tab-content {
        position: relative;
        min-height: 370px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
        cursor: pointer;
        overflow: hidden;


        &_item {
            position: absolute;
            transform: translateY(-200%);
            transition: opacity 0.9s;
            opacity: 0;

            &-active {
                position: relative;
                transform: translateY(0%);
                transition: opacity 0.9s;
                opacity: 1;
            }

            &_img {
                width: 370px;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:hover {

                .projects__tab-content_item_hover {
                    opacity: 0.7;
                }
                .projects__tab-content_item_text {
                    background-color: #362f2d;

                    &_title {
                        color: white;
                    }
                    &_description {
                        color: #c7b299;
                    }
                }

            }
            &_hover {
                height: 237px;
                background-color: black;
                opacity: 0;
                margin-bottom: -237px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s;

                &-link {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    background-image: url(../img/link.png);
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background-image: url(../img/link-hover.png);
                    }
                }
                &-lupa {
                    width: 25px;
                    height: 25px;
                    background-image: url(../img/lupa.png);
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background-image: url(../img/lupa-hover.png);
                    }
                }
            }
            &_text {
                min-height: 100px;
                background-color: #f6f4f1;
                margin-bottom: 30px;
                transition: 0.3s;

                &_title {
                    font-family: Raleway;
                    font-size: 20px;
                    font-weight: 500;
                    color: #c7b299;
                    padding-top: 28px;
                    padding-left: 28px;
                    transition: 0.3s;
                }
                &_description {
                    color: #d1d1d1;
                    padding-top: 8px;
                    padding-left: 28px;
                    transition: 0.3s;
                }
            }
        }
    }


    &__button {
        width: 170px;
        height: 53px;
        border-radius: 3px;
        box-shadow: inset 0px -3px 0 0 #736357;
        background-color: $btn-color;
        transition-duration: 0.4s;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 600;
        color: $title-light;
        text-transform: uppercase;
        margin-top: 9px;
        margin-bottom: 78px;

        &:hover {
            background-color: $btn-colorhover;
            box-shadow: inset 0px -3px 0 0 #313131;
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Video-
// --------------------------------------------------------------------------------------------------------------










.video {
    min-height: 705px;


    &__bg {
        min-height: 705px;
        background-image: url(../img/aboutus.png);
        background-position: center center;

    }
    &__main {
        position: relative;
        min-height: 705px;
        margin-top: -705px;
        z-index: 2;
    }

    &__icon {
        display: flex;
        justify-content: center;
        margin-top: 210px;
        cursor: pointer;

        img {
            width: 55%;
            object-fit: cover;
        }
    }
    &__title {
        text-align: center;
        font-family: Raleway;
        font-size: 30px;
        font-weight: 500;
        color: $title-light;
        margin-top: 42px;
    }
    &__description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
        color: $title-light;
        text-align: center;
        margin-top: 17px;
    }
    &__time {
        font-family: Montserrat;
        font-size: 14px;
        color: $title-lighthover;
        text-align: center;
        margin-top: 33px;
    }


    &__player {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.705);
        top: 0;
        left: 0;
        z-index: 100;
        transition: opacity 0.7s;

        &-active {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.7s;
        }
        &_container {
            width: 100%;
            height: 100%;
            transform: scale(1.3);
            display: flex;
            justify-content: center;
            align-items: center;

            iframe {
                width: 45vw;
                height: 23vw;
            }
        }
        &_close {
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 32px;
            z-index: 101;
            cursor: pointer;

            &::before {
                position: absolute;
                left: 13px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: rgb(141, 139, 139);
                transform: rotate(45deg);
                transition: 0.3s;
            }
            &::after {
                position: absolute;
                left: 13px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: rgb(141, 139, 139);
                transform: rotate(-45deg);
                transition: 0.3s;
            }

            &:hover {
                // ...

                &::before {
                    content: ' ';
                    background-color: rgb(105, 105, 105);
                    transition: 0.3s;
                }
                &::after {
                    content: ' ';
                    background-color: rgb(105, 105, 105);
                    transition: 0.3s;
                }
            }
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Excellent-
// --------------------------------------------------------------------------------------------------------------









.excellent {
    min-height: 695px;
    background-color: $bg-main;



    &__image {
        margin-top: 95px;
    }

    &__text {
        // ...


        &_title {
            font-family: Raleway;
            font-size: 30px;
            font-weight: 600;
            color: $title;
            margin-top: 192px;
        }
        &_decription {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.75;
            color: $description;
            margin-top: 27px;
        }
        &_list {
            margin-top: 35px;
            margin-left: 50px;

            &_item {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 300;
                color: $title;
                margin-top: 9px;
                display: flex;
                align-items: center;

                &::before {
                    content: url(../img/list-item.png);
                    margin-right: 20px;
                }
            }
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Statistic-
// --------------------------------------------------------------------------------------------------------------










.statistic {
    min-height: 300px;
    background-image: linear-gradient(to right, #211b19, #4e3427);



    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;


        &_image {
            margin-top: 67px;
        }
        &_number {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 200;
            color: $title-light;
            margin-top: 27px;
        }
        &_title {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            color: $title-hover;
            margin-top: 10px;
        }
        &_line {
            width: 30px;
            height: 2px;
            background-color: $title-light;
            margin-top: 27px;
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Recent-
// --------------------------------------------------------------------------------------------------------------










.recent {
    min-height: 753px;
    background-color: $bg-main;



    &__title {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: $title;
        margin-top: 78px;
    }
    &__description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
        text-align: center;
        color: $description;
        margin-top: 17px;
    }
    &__posts {
        margin-top: 34px;

        &_item {
            position: relative;
            min-height: 395px;
            border: solid 1px #f8f8f8;
            background-color: white;
            transition: 0.5s;


            &:hover {
                background-color: #362f2d;

                .recent__posts_item_img {
                    filter: brightness(40%);
                }
                .recent__posts_item_title {
                    color: $title-lighthover;
                }
                .recent__posts_item_description {
                    color: white;
                }
                .recent__posts_item_more {
                    color: $title-lighthover;
                }
            }

            &_img {
                transition: 0.5s;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            &_date {
                position: relative;
                top: -150px;
                left: 12px;
                margin-top: -60px;
                transition: 0.5s;
            }
            &_title {
                font-family: Raleway;
                font-size: 20px;
                font-weight: 500;
                color: $title;
                transition: 0.5s;
                margin-top: 25px;
                margin-left: 29px;
            }
            &_description {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.57;
                color: $description;
                transition: 0.5s;
                margin-top: 18px;
                margin-left: 29px;
            }
            &_more {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                color: $title-hover;
                transition: 0.5s;
                margin-top: 12px;
                margin-left: 29px;
            }
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Contact-
// --------------------------------------------------------------------------------------------------------------










.contact {
    min-height: 489px;
    background-image: url(../img/contactbgc_Easy-Resize.com.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &_item {
            
            
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}



//Breakpoints

// xxl
@media (min-width: 1401px) {

}

// xl
@media (max-width: 1400px) {

}

// lg
@media (max-width: 1200px) {

}

// md
@media (max-width: 992px) {
    
}

// sm
@media (max-width: 768px) {
    
}

// none
@media (max-width: 576px) {
    
}

@media (max-width: 380px) {

}










// --------------------------------------------------------------------------------------------------------------
// -Footer-
// --------------------------------------------------------------------------------------------------------------










.footer {
    min-height: 508px;
    background-color: #191919;



    &__more {
        margin-top: 80px;

        &_title {
            font-family: Raleway;
            font-size: 34px;
            color: $title-light;
        }
        &_description {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.74;
            color: $description;
            margin-top: 23px;
        }
        &_read {
            font-family: Montserrat;
            font-size: 14px;
            color: #d1d1d1;
            cursor: pointer;
            margin-top: 25px;
        }
    }



    &__recent {
        // ...

        &_title {
            font-family: Raleway;
            font-size: 24px;
            font-weight: bold;
            color: $title-light;
            margin-top: 104px;
            padding-bottom: 10px;
        }
        &_date-block {
            margin-top: 19px;

            &_date {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 300;
                color: #363636;
            }
            &_description {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.43;
                color: $description;
                margin-top: 7px;
            }
        }
        &_line {
            width: 270px;
            height: 2px;
            background-color: #3d3d3d;
            margin-top: 17px;
        }
        &_date-block-active {
            margin-top: 19px;

            &_date {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 300;
                color: $title-light;
            }
            &_description {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.43;
                color: $title-lighthover;
                margin-top: 7px;
            }
        }
    }



    &__twitter {
        // ...

        &_title {
            font-family: Raleway;
            font-size: 24px;
            font-weight: bold;
            color: $title-light;
            margin-top: 105px;
            margin-bottom: 22px;
        }
        &_description {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
            color: $description;
            margin-top: 14px;

            a {
                color: #00bff3;
            }
        }
        &_time {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 300;
            color: #363636;
            margin-top: 8px;
        }
        &_line {
            width: 270px;
            height: 2px;
            background-color: #252525;
            margin-top: 22px;
        }
        &_link {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            color: $description;
            line-height: 1.43;
            margin-top: 14px;

            a {
                color: #b6b6b6;
            }
        }
    }



    &__widget {
        // ...

        &_title {
            font-family: Raleway;
            font-size: 24px;
            font-weight: bold;
            color: $title-light;
            margin-left: 5px;
            margin-top: 105px;
            margin-bottom: 22px;
        }
        &_con {
            display: flex;

            &_item {
                margin: 5px 5px 5px 5px;
            }
        }
    }
}